---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}


<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
  <div>
    <div class="sidebar-nav-item">Category</div>
    <nav class="content-ul">
      {% for category in site.categories %}
      <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}"
        class="sidebar-nav-item pl-3rem">
                            <span class="name">
                                {{ category | first }}
                            </span>
        <span class="badge">{{ category | last | size }}</span>
      </a>
      {% endfor %}
    </nav>
  </div>
</div>
<div>
  <div class="sidebar-nav-item">Category</div>
  <nav class="content-ul">
    {% for category in site.categories %}
    <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}"
      class="sidebar-nav-item pl-3rem">
                          <span class="name">
                              {{ category | first }}
                          </span>
      <span class="badge">{{ category | last | size }}</span>
    </a>
    {% endfor %}
  </nav>
</div>